{
  "plugins":[
    "es6-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ]
}